html, body {
  height: 100%;
  background-color: rgba(240,255,240,0.2);
}

a {
  color: #000000;
}

.blender {
  position: absolute;
  width: 100%;
  height: 2.5em;

  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(240,230,140, 0.1);
}

.navi {
  position: relative;;
  width: 100%;

  left: 0;
  right: 0;

  margin-top: 2em;;

  background-color: white;
  background-color: rgba(240, 255, 255, 0.8);
}

h1, h3 {
  text-align: center;
}

h1 {
  font-size: 400%;
  font-family: Verdana, sans-serif;
}

.list {
  text-align: center;
  margin-right: 4em;
  /*background-color: rgba(173, 216, 230,0.5);*/
}

.guide {
  padding-top: 5em;
}

.guide > * > li {
  display: inline-block;
  margin-left: 2em;
}

img {
  width: 150px;
  height: 200px;
  position: relative;
  /*visibility: hidden; */
}

.sidebar {
  float: left;
  position: relative;
  background-color: rgba(211, 211, 211, 0.2);
  width: 20%;
  height: 80em;
}

.sidebar > * > li {
  margin-bottom: 1em;
}

#introduction {
  position: relative;
  float: left;
  margin-left: 5em;
  width: 60%;
  line-height: 200%;
  font-size: 110%;
}

span {
  font-size: 70%;
}

#professional {
  position: relative;
  float: left;
  margin-top: 2em;
  margin-left: 5em;
  width: 60%;
  text-align: left;
  font-size: 110%;
}

#skills {
  position: relative;
  float: left;
  margin-top: 2em;
  margin-left: 5em;
  width: 60%;
  font-size: 110%;
}

#contact {
  position: relative;
  float: left;
  margin-top: 2em;
  margin-left: 5em;
  width: 60%;
  font-size: 110%;
}

h2 {
  font-size: 200%;
}

.main {
  border: solid;
}
