
body {
  font-family: Georgia, serif;
  text-align: justify;
  /*background-image: url(images/paper-like.jpg);*/
  background-color: #F8ECC2;
  font-size: 120%;
  margin: 10%;
}

p {
  text-indent: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 200%;
}

.fig {
  display: block;
  margin: 0 auto;
  text-align:center;
  width: 80%;
}

pre {
  font-style: italic;
  font-size: 100%;
  margin-left: 10%;
}

hr  {
  width: 60%;
  text-align: center;
}

.toc {
  margin-left: 15%;
  margin-bottom: .75em;
}

a:hover {
  background-color: yellow;
}

a:visited {
  color: red;
}
